<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.meteor.opencode.platform.mapper.UserMapper">
   <select id="selectAll" resultType="cn.meteor.opencode.platform.entity.User">
       select * from user
   </select>

<!--    <update id="update" parameterType="cn.meteor.opencode.platform.entity.User">-->
<!--        update user-->
<!--            <set>-->
<!--                <if test="avatar != null">-->
<!--                    avatar = #{avatar},-->
<!--                </if>-->
<!--                <if test="introduce != null">-->
<!--                    introduce = #{introduce},-->
<!--                </if>-->
<!--                <if test="address != null">-->
<!--                    address = #{address},-->
<!--                </if>-->
<!--            </set>-->
<!--            where user_id = #{user_id}-->
<!--    </update>-->
</mapper>